body {
    background-color: beige;
    display: flex;
    justify-content: center;
    margin-left:-9px;
    margin-right:0px;
    margin-top: -9px;
}


.content-wrapper {
    background-image: url(../img/background/tech-bg.jpg);
}