.nav-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position:center top;
    width: 100%;
    height: 160px;
    padding-top: 10px;
}
.nav-wrapper > .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:20px;
}
.nav-wrapper > .logo-wrapper img {
    height: 130px;
    width: 100%;
}

.nav-wrapper > .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
}
.nav-wrapper > .links-wrapper > .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 6px 20px;
    font-family: 'Roboto', sans-serif;
}
.links-wrapper > .link a{
    color: black;
    text-decoration:  underline transparent;
    border: 0.5px solid black transparent;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 0.2s;
}
.links-wrapper > .link a:hover{
    color: black;
    text-decoration:  underline transparent;
    border: 0.5px solid black;
    cursor: pointer;

}
.links-wrapper > .link a:active{
    border-color: goldenrod;
}
.nav-wrapper > .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 15%;
    font-family: 'Roboto Slab', serif;
    color:#ad7f00;
    
}
.nav-wrapper > .info-wrapper > .phone-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    font-size: 1.2em;
}

.nav-wrapper > .info-wrapper > .hours-wrapper {
    /* display: flex;
    justify-content: center; */
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    font-size: 1.1em;

}