html {
    font-size: 62.5%; /* 1rem is 10px */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    justify-items: center;
}

#entree {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#entree, ul {
    display: grid;
    grid-template-columns: 1,1,1;
}

#entree, li {
    list-style-type: none;
    font-size: 1.5rem;
}

#total {
    display: flex;
    justify-content: center;
    margin-top:5rem;
    border-top: 1px solid black;
}

#total, ul {
    display: grid;
    grid-template-rows: 1,1,1;
}

#choice0, #choice1, #choice2 {
    visibility: hidden;
}